Source: initrd-tmpfs-root
Section: admin
Priority: optional
Build-Depends: debhelper-compat (=13)
Maintainer: Mathias Gibbens <mathias.gibbens@futurfusion.io>
Standards-Version: 4.7.2

Package: initrd-tmpfs-root
Architecture: all
Depends: ${misc:Depends}
Description: Mount rootfs as tmpfs when systemd-repart fails
 On read-only media, systemd-repart will fail. In this case,
 mount the root file system as tmpfs to allow the install
 to proceed.
