[Unit]
Description=Start swtpm
After=boot.mount
Requires=boot.mount
Before=cryptsetup.target systemd-cryptsetup@root.service systemd-repart.service
DefaultDependencies=no
ConditionPathExists=/boot/swtpm/

[Service]
Type=exec

ExecStartPre=/usr/bin/rm -f /boot/swtpm/tpm2-00.volatilestate
ExecStartPre=/usr/sbin/modprobe tpm_vtpm_proxy
ExecStart=/usr/bin/swtpm chardev --tpm2 --vtpm-proxy --tpmstate dir=/boot/swtpm/ --ctrl type=unixio,path=/run/swtpm.sock
ExecStartPost=/usr/bin/sleep 1
ExecStartPost=/usr/bin/incusos-initrd-utils measure-pcrs
ExecStartPost=/usr/bin/swtpm_ioctl --unix /run/swtpm.sock -v

[Install]
WantedBy=cryptsetup.target systemd-cryptsetup@root.service systemd-repart.service
