[Unit]
Description=Migration Manager
Documentation=https://github.com/FuturFusion/migration-manager

[Service]
EnvironmentFile=-/etc/environment
ExecStart=/usr/local/bin/migration-managerd --logfile ""
KillMode=process
Restart=on-failure
