.cache
debian-tools
mkosi.output
.mkosi-private

mkosi.crt
mkosi.key
certs/

mkosi.images/base/mkosi.extra/boot/EFI/
mkosi.images/base/mkosi.extra/usr/local/bin/
mkosi.images/migration-manager/mkosi.extra/
mkosi.images/operations-center/mkosi.extra/

app-build/

incus-osd/flasher-tool
incus-osd/generate-manifests
incus-osd/image-customizer
incus-osd/image-publisher
incus-osd/incus-osd

mkosi.packages/initrd-tmpfs-root*

*.swp

.sphinx/warnings.txt
.sphinx/.wordlist.dic
.sphinx/_static/download/
.sphinx/venv/
doc/html/
