.cache
debian-tools
mkosi.output
.mkosi-private

mkosi.crt
mkosi.key
certs/

mkosi.images/base/mkosi.extra/boot/EFI/
mkosi.images/base/mkosi.extra/usr/local/bin/
mkosi.images/migration-manager/mkosi.extra/
mkosi.images/operations-center/mkosi.extra/

app-build/

incus-osd/flasher-tool
incus-osd/generate-manifests
incus-osd/image-customizer
incus-osd/image-publisher
incus-osd/incus-osd
incus-osd/measure-pcrs

mkosi.packages/initrd-tmpfs-root*

*.swp

# Sphinx
doc/html/
doc/.sphinx/.doctrees/
doc/.sphinx/_static/swagger-ui/
doc/.sphinx/deps/
doc/.sphinx/venv/
doc/.sphinx/warnings.txt
doc/.sphinx/.wordlist.dic
doc/__pycache__

# MacOS
.DS_Store
__MACOSX/
.AppleDouble
.LSOverride
