[Unit]
Description=Operations Center
Documentation=https://github.com/FuturFusion/operations-center

[Service]
EnvironmentFile=-/etc/environment
ExecStart=/usr/local/bin/operations-centerd --logfile ""
KillMode=process
Restart=on-failure
