[Unit]
Description=Incus OS - management daemon
Documentation=https://github.com/lxc/incus-os/
Before=network-pre.target
Wants=network-pre.target

[Service]
ExecStart=/usr/local/bin/incus-osd
Environment=TERM=xterm-256color
KillMode=process
TimeoutStartSec=30s
TimeoutStopSec=30s
Restart=on-failure

[Install]
WantedBy=multi-user.target
