[Unit]
Description=Add partitions from CDROM

ConditionPathExists=/dev/sr0

DefaultDependencies=no
Before=integritysetup.target
Wants=modprobe@dm_mod.service modprobe@efi_pstore.service modprobe@loop.service
After=modprobe@dm_mod.service modprobe@efi_pstore.service modprobe@loop.service

[Service]
Type=oneshot

ExecStart=/usr/sbin/kpartx -ar /dev/sr0
