[Unit]
Description=Show startup debug information
After=emergency.target
DefaultDependencies=no

[Service]
Type=oneshot

Environment=TTYS="/dev/tty1 /dev/ttyS0"

ExecStart=/usr/bin/initrd-debug-info.sh

[Install]
WantedBy=emergency.target
