# Use link_priority to deterministically create by-partlabel links, preferring CDROM, then USB stick, then local hard drive.

# Hard drive
ENV{ID_PART_ENTRY_SCHEME}=="gpt", ENV{ID_PART_ENTRY_NAME}=="?*", SYMLINK+="disk/by-partlabel/$env{ID_PART_ENTRY_NAME}", OPTIONS="link_priority=100"

# USB stick
ENV{ID_BUS}=="usb", ENV{ID_PART_ENTRY_SCHEME}=="gpt", ENV{ID_PART_ENTRY_NAME}=="?*", SYMLINK+="disk/by-partlabel/$env{ID_PART_ENTRY_NAME}", OPTIONS="link_priority=200"

# CDROM
ENV{DM_NAME}=="sr[0-9]p[0-9]", ENV{ID_PART_ENTRY_SCHEME}=="gpt", ENV{ID_PART_ENTRY_NAME}=="?*", SYMLINK+="disk/by-partlabel/$env{ID_PART_ENTRY_NAME}", OPTIONS="link_priority=300"

# Prevent the use of Incus VM disks as system disks.
KERNEL=="nbd*" ENV{DM_UDEV_DISABLE_DISK_RULES_FLAG}="1" ENV{DM_UDEV_DISABLE_OTHER_RULES_FLAG}="1" ENV{UDISKS_IGNORE}="1" SYMLINK:=""
KERNEL=="rbd*" ENV{DM_UDEV_DISABLE_DISK_RULES_FLAG}="1" ENV{DM_UDEV_DISABLE_OTHER_RULES_FLAG}="1" ENV{UDISKS_IGNORE}="1" SYMLINK:=""
KERNEL=="zd*" ENV{DM_UDEV_DISABLE_DISK_RULES_FLAG}="1" ENV{DM_UDEV_DISABLE_OTHER_RULES_FLAG}="1" ENV{UDISKS_IGNORE}="1" SYMLINK:=""

# Re-add the ZFS zvol symlinks (used by Linstor).
KERNEL=="zd*", SUBSYSTEM=="block", ACTION=="add|change", PROGRAM=="/usr/lib/udev/zvol_id $devnode", SYMLINK+="zvol/%c"
