div.card, div.accordion-item {
    margin-bottom: 1em;
}

.accordion-item:not(:first-of-type) {
    border: var(--bs-accordion-border-width) solid var(--bs-accordion-border-color);
}

label {
    margin-left: 0.5em;
}
